@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    line-height: 1.43;
    text-decoration: none;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

body {
    height: 100%;
    width: 100%;
}


#rangeSlider .range-slider .w-full {
    height: 1px;
    width: 100%;
}


#rangeSlider .range-slider__thumb {
    background-color: #fff;
    border: 1px solid #b9b8b8;
    border-radius: 50%;
    cursor: pointer;
    height: 32px;
    width: 32px;
}

#rangeSlider .range-slider__track {
    background-color: #000;
    height: 2px;
}

#rangeSlider .range-slider__track--active {
    background-color: #000 !important;
}


#rangeSlider .range-slider__range {
    background-color: #000;
    height: 1px;
}


.swiper-button-next {
    background-color: #ffffff;
    background-image: url('https://www.svgrepo.com/show/70596/left-arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    rotate: 180deg;
    background-size: 40%;
    border: #717171 1px solid;
    border-radius: 50%;
    scale: 0.6;
    width: 48px;
    height: 48px;
    transition: all 0.3s;
}

.swiper-button-next::after {
    content: '';
}

.swiper-button-next:hover {
    transform: scale(1.05);
    box-shadow: 0 1px 30px 4px rgba(0, 0, 0, 0.1);
}

.swiper-button-prev {
    background-color: #ffffff;
    background-image: url('https://www.svgrepo.com/show/70596/left-arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    border: #717171 1px solid;
    border-radius: 50%;
    scale: 0.6;
    width: 48px;
    height: 48px;
    transition: all 0.3s;
}

.swiper-button-prev::after {
    content: '';
}

.swiper-button-prev:hover {
    transform: scale(1.05);
    box-shadow: 0 1px 30px 4px rgba(0, 0, 0, 0.1);
}

.accommodation-card-swiper .swiper-button-next {
    visibility: hidden;
    transition: none;
}

.accommodation-card-swiper .swiper-button-prev {
    visibility: hidden;
    transition: none; 
}

.accommodation-card-swiper:hover .swiper-button-next {
    visibility: visible;
}

.accommodation-card-swiper:hover .swiper-button-prev {
    visibility: visible;
}

.swiper-pagination  {
    scale: 0.8;
}

.swiper-pagination-bullet {
    background-color: #ffffff;
    color: #ffffff;
    opacity: 0.4;
}

.swiper-pagination-bullet-active {
    background-color: #ffffff;
    color: #ffffff;
    opacity: 1;
}